#contact {
	background-color: rgb(22, 96, 121);
}

#contact-elements p {
	color: white;
}

#contact-elements a {
	font-family: Roboto;
	color: white;
	font-size: 16px;
	letter-spacing: 1px;
}

#contact-elements h4 {
	color: white;
	margin-bottom: 0;
}

#contact #soc_btn {
	padding-top: 1vh;
}

#auris-about {
	border: transparent;
	padding: 0 3vw;
	font-size: 16px;
}

#auris-about p {
	letter-spacing: 1px;
	padding-top: 2vh;
}

#auris-cont {
	border: transparent;
	padding: 0 3vw;
}

#auris-cont address {
	padding-top: 2vh;
}

.cont h4 {
	text-transform: uppercase;
	width: 35px;
    border-bottom: 3px solid rgb(171, 152, 122);
    padding-bottom: 5px;
}

#auris-social {
	border: transparent;
	padding: 0 3vw;
}

#auris-social i {
	font-size: 4em;
}

#contact .row {
	padding: 50px;
}