#description {
	border: transparent;
}

.art {
	border: transparent;
    padding-bottom: 7vh;
    padding-top: 2vh;
}

#artefacts {
	border: transparent;
	margin-top: 8vh;
    margin-left: 16vw;
    margin-right: 16vw;
}

#artefacts .text {
	border: transparent;
}

#artefacts .icon {
	width: auto;
	padding-right: 30px;
	padding-bottom: 30px;
	text-align: left;
}

#artefacts .icon img {
	width: 150px;
}

#artefacts .icon-artef {
	position: absolute;
	padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
}

#artefacts #bracelet {
    padding-top: 58px;
}

#artefacts #interface {
    padding-top: 60px;
}

#artefacts .icon-background {
	border: transparent;
    z-index: -1;
}