#experiments {
    background-color: rgba(97, 97, 97, 0.14);
}

#experiments .row {
    margin: 0 16vw;
}

#experiments .carousel-inner img {
    position:relative;
    width: 100%;
    /*height: 100%;*/
    height: 350px;
}

#experiments .image-carousel {
    height: auto;
    padding: 15px;
    background-color: white;
}

#experiments .text-carousel {
    height: 400px;
    padding: 15px;
    padding-top: 0;
}

@media (min-width: 400px) {
    #experiments .carousel-inner img {
        height: 160px;
    }

    #experiments .text-carousel {
        height: 529px;
    }
}


@media (min-width: 576px) {
    #experiments .carousel-inner img {
        height: 260px;
    }

    #experiments .text-carousel {
        height: 300px;
    }
}

@media (min-width: 768px) {
    #experiments .carousel-inner img {
        height: 350px;
    }

    #experiments .text-carousel {
        height: 385px;
    }
}

#experiments .text p {
    font-size: 18px;
}

#experiments .header-text {
    position: absolute;
    top: 0;
    right: auto;
}

/*#experiments .carousel-indicators {
    bottom: 0vh;
}*/

#experiments .row {
    padding: 10vh 0;
}

#experiments .btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

#experiments .btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

#experiments .btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

ol, ul {
    margin-bottom: -51px;
}

.carousel-indicators .active {
    background-color: #2980b9;
}

.carousel-indicators li {
    border: 1px solid rgb(171, 152, 122);
}
