body {
  background-color: #ffffff;
  width: 100%;
  overflow-y: hidden;
}

html {
	height: 100%;
}

html, body {
	overflow-x: hidden;
}

header {
	background-color: white;
}

/*General Section Style*/
.general-style{
	width: 100%;
	height: auto;
	border: transparent;
}

@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
	/*Body elements*/
	body p {
    	font-size: 30px !important;
	}

	body h1, h2 {
		font-size: 55px !important;
	}

	body h3 {
		font-size: 45px !important;
	}

	body h4 {
		font-size: 35px !important;
	}

	#github h4 {
		font-size: 25px !important;
	}

	/*Fixed elements*/
	#scroll-down {
		height: 150px !important;
		width: 150px !important;
	}

	.navbar-default .navbar-nav>li>a {
    	font-size: 30px !important;
    	padding-top: 30px !important;
    	padding-bottom: 30px !important;
	}

	.navbar, .navbar-default {
    	margin-bottom: 0;
    	height: 120px;
	}

	.navbar-toggle {
    	height: 90px !important;
    	width: 90px !important;
    	margin-top: 14px;
    	margin-right: 40px;
	}

	#head .container {
		padding-right: 0; 
    	padding-left: 0; 
    	margin-right: 0;
    	margin-left: 0;
    	width: 100% !important;
	}
}
/*End General Section Style*/

/*Headers general style*/
.headers {
	font-family: Roboto;
	padding-top: 10vh;
	padding-bottom: 5vh;
	border: transparent;
    margin-left: 16vw;
    margin-right: 16vw;
}

.headers h3 {
	color: rgb(48, 148, 188);
	text-align: center;
	text-transform: uppercase;
	font-size: 26px;
}

.headers hr {
	width: 3vw;
	border-bottom: 1px solid rgb(171, 152, 122);
}

.headers p {
	font-size: 16px;
	text-align: center;
	color: rgb(97, 97, 97);
}
/*End Headers general style*/

/*Body texts*/
.text {
	font-family: Roboto;
	border: transparent;
}

.text h4{
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	color: rgb(48, 148, 188);
}

.text p {
	font-size: 16px;
	color: rgb(97, 97, 97);
}

/*End Body texts*/
