body {
  background-color: #ffffff;
  width: 100%;
}

html {
	height: 100%;
}

html, body {
	overflow-x: hidden;
}

header {
	background-color: white;
}

/*General Section Style*/
.general-style{
	width: 100%;
	height: auto;
	border: transparent;
}

@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
	/*Body elements*/
	body p {
    	font-size: 30px !important;
	}

	body h1, h2 {
		font-size: 55px !important;
	}

	body h3 {
		font-size: 45px !important;
	}

	body h4 {
		font-size: 35px !important;
	}

	/*Fixed elements*/
	#scroll-down {
		height: 150px;
		width: 150px;
	}

	.navbar-default .navbar-nav>li>a {
    	font-size: 30px;
    	padding-top: 30px;
    	padding-bottom: 30px;
	}

	.navbar, .navbar-default {
    	margin-bottom: 0;
    	height: 120px;
	}

	.navbar-toggle {
    	height: 90px;
    	width: 90px;
    	margin-top: 14px;
    	margin-right: 40px;
	}

	#head .container {
		padding-right: 0; 
    	padding-left: 0; 
    	margin-right: 0;
    	margin-left: 0;
    	width: 100% !important;
	}
}
/*End General Section Style*/