#github {
	background-color: rgb(52, 127, 153);
	position: relative;
	height: auto;
	text-align: center;
}

#github img {
	margin: 2vw;
    width: 200px;
    min-width: 110px;
    height: auto;
}

#github h4 {
    border: transparent;
    font-family: Roboto;
    font-weight: 100;
    text-transform: uppercase;
    color: white;
}

#git{
	font-weight: 400 !important;
}

#text-git {
	text-align: center;
	margin: 2vw;
}

#github .row {
	padding: 5vw;
}

#github button {
	margin: 2vw;
	padding: 8px 20px;
    background-color: rgb(52, 127, 153);
    border: solid 3px rgb(3, 47, 62);
    font-family: Roboto;
  	font-size: 18px;
	font-weight: 400;
	color: rgb(3, 47, 62);
	width: 27vw;
}

#github button:hover {
	background-color: rgb(166, 211, 226);
}