#home {
	height: 90vh;
}

.title-text {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	color: white;
}

#first-text {
	border: transparent;
    min-height: 250px;
    margin-top: 40vh;
    margin-bottom: 20vh;
    padding-right: 15vw;
    z-index: -1;
}

#first-text h1 {
	text-align: right;
	position: relative;
	margin: 0;
	z-index: 40;
}

#first-text h2 {
	text-align: right;
	font-weight: 100;	
	position: relative;
	margin: 0;
	z-index: 40;
}

@media(min-width:576px){
	#first-text h1, h2 {
		font-size: 3em;
	}
}

@media (min-width: 768px) {
	#first-text h1, h2 {
		font-size: 3.5em;
	}
}

@media (min-width: 992px) {
	#first-text h1, h2 {
		font-size: 4em;
	}
}

.video {
	position: absolute;
	background:url("../img/home.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 87vh;
}

.video:after {
	content: "";
	position: absolute;
	display: block;
	top: 45%;
	left: 45%;
	width: 46px;
	height: 36px;
	cursor: pointer;
}
.video iframe {
	position: absolute;
	top: 13vh;
	left: 0;
	width: 100%;
	height: 75vh;
	border-width: 0px;
	z-index: 10;
}

.btn-group-lg>.btn, .btn-lg {
	position: relative;
	border-radius:0px;
}

.btn-default {
	background-color: rgb(3, 47, 62);
	border: solid 3px rgb(3, 47, 62);
}

.iconcolor {
    color: white;
}

.btn-default:hover {
	background-color: rgb(4, 87, 115);
	border-color: white;
    border: solid 1px rgb(255, 255, 255);
}

#play-presentation {
	max-width: 160px;
	max-height: 95px;
	float: right;
    top: 2vh;
    z-index: 10;
}

#stop-presentation {
	max-width: 160px;
	max-height: 95px;
	position: relative;
    top: 35vh;
    left: 13vw;
    font-size: 4em;
    float: right;
    right: -18vw;
    z-index: 10;
}

@media (max-width: 777px) {
	#play-presentation {
		width: 120px;
    	height: 95px;
	}

	#stop-presentation {
		width: 120px;
    	height: 95px;
	}
}