#publications {
	background-color: rgba(97, 97, 97, 0.14);
}

#publications .row {
    margin: 0 16vw;
}

#publications .carousel-inner img {
    position:relative;
    width: 100%;
    height: 100%;
}

#publications .text p {
    font-size: 18px;
}

#publications .image-carousel {
    padding: 15px;
    background-color: white;
}

#publications .text-carousel {
    background-color: white;
    padding: 15px;
}

#publications .header-text {
    position: absolute;
    top: 0;
    right: auto;
}

#publications .carousel-indicators {
	bottom: 0vh;
}

#publications .row {
    padding: 10vh 0;
}

#publications button {
    margin-top: 5%;
    background-color: white;
    border: solid 2px rgb(48, 148, 188);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    color: rgb(48, 148, 188);
    width: 200px;
}

#publications button:hover {
    background-color: rgba(166, 211, 226, 0.5);
}

#publications button a:hover{
    text-decoration: none;
}