body {
  background-color: #ffffff;
  width: 100vw;
}

html {
	height: 100%;
}

html, body {
	overflow-x: hidden;
}

header {
	background-color: white;
}

#logo-auris {
	height: 15vh;
	object-fit: contain;
    display: block;
	margin: auto;
	padding-bottom: 20px;
	padding-top: 12px;
	top: 0;
	background-color: white;
	width: 100%;
	z-index: 200;
}

/*Head Style*/
.navbar, .navbar-default {
	height: auto;
  	background-color: #3094bc;
  	border-color: #3094bc;
  	box-shadow: 0px 18px 29px 0 rgba(0, 0, 0, 0.44);
  	background-image: none;
  	z-index: 200;
  	margin-bottom: 0;
  	width: 100vw !important;
}

#head {
	width: 100vw;
	height: auto;
	position: fixed;
	z-index: 200;
}

.navbar-default .navbar-toggle {
	border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: rgb(68, 210, 234);
}

@media (max-width: 1200px) {
	.navbar-header {
	    float: none;
	}
	.navbar-left,.navbar-right {
	    float: none !important;
	}
	.navbar-toggle {
	    display: block;
	}
	.navbar-collapse {
	    border-top: 1px solid transparent;
	    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
	    top: 0;
	    border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
	    display: none!important;
	}
	.navbar-nav {
	    float: none!important;
	    margin-top: 7.5px;
	}
	.navbar-nav>li {
	    float: none;
	}
	.navbar-nav>li>a {
	    padding-top: 10px;
	    padding-bottom: 10px;
	}
	.collapse.in {
	    display:block !important;
	}

	.navbar, .navbar-default {
		margin-bottom: 0;
	}
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #3094bc;
    background-color: #3094bc;
}

.navbar-default .navbar-nav>li>a {
    font-family: Roboto;
	text-transform: uppercase;
	font-size: 75%;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 1.8px;
	text-align: left;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
  	padding-left: 70px;
  	padding-right: 30px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #f5f800;
    background-color: transparent;
}

.navbar {
    border-radius: 0px;
}
/*End Head Style*/

/*Scroll Down Button Style*/
#scroll-down {
	position: fixed;
	height: 80px;
    width: 80px;
    font-size: 25px;
    z-index: 400;
    border-radius: 50%;
    border-width: 0px;
    background-color: rgb(48, 148, 188);
    box-shadow: 0 14px 59px -7px rgba(0,0,0,0.85);
    bottom: 5vh;
    right: 5vw;
}

#scroll-down:hover {
	background-color: rgb(81, 183, 224);;
}

#scroll-down:focus {
	outline: 0px;	
}

@media (max-width: 777px) {
	#scroll-down{
		height: 40px;
    	width: 40px;
    	font-size: 17px;
		box-shadow: 0 14px 44px -5px rgba(0,0,0,0.85);
	}    
}
/*End Scroll Down Button Style*/

/*General Section Style*/
.general-style{
	width: 100%;
}
/*End General Section Style*/

/*Firs Page Style*/
#first-page {
	height: 90vh;
}

.title-text {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-style: normal;
	font-stretch: normal;
	color: white;
}

#first-text {
	padding-top: 40vh;
	padding-right: 15vw;
}

#first-text h3 {
	/*font-weight: 400;*/
	text-align: right;
	font-weight: bold;
	font-size: 4.5vw;
	position: relative;
	margin: 0;
	z-index: 40;
}

#first-text h2 {
	text-align: right;
	font-weight: 100;
	font-size: 4.5vw;	
	position: relative;
	margin: 0;
	z-index: 40;
}

/*@media (min-width: 880px) {
	#first-text h3 {
		font-size: 4.5vw;
	}

	#first-text h2 {
		font-size: 4.5vw;	
	}
}*/

.video {
	position: absolute;
	background:url("../img/home.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}
/*.video img {
	position: absolute;
	display: block;
	height: 50vw;
	width: 100%;
	z-index: 20;
	cursor: pointer;
}*/
.video:after {
	content: "";
	position: absolute;
	display: block;
	top: 45%;
	left: 45%;
	width: 46px;
	height: 36px;
	cursor: pointer;
}
.video iframe {
	position: absolute;
	top: 17vh;
	left: 0;
	width: 100%;
	height: 75vh;
	border-width: 0px;
}

.btn-group-lg>.btn, .btn-lg {
	position: relative;
	border-radius:0px;
}

.btn-default {
	background-color: rgb(3, 47, 62);
	border: solid 3px rgb(3, 47, 62);
}

.iconcolor {
    color: white;
}

.btn-default:hover {
	background-color: rgb(4, 87, 115);
	border-color: white;
    border: solid 1px rgb(255, 255, 255);
}

#play-presentation {
	min-width: 15vw;
	width: 18%;
	float: right;
    top: 2vh;
}

#stop-presentation {
	width: 18%;
	min-width: 15vw;
	position: relative;
    top: 40vh;
    left: 13vw;
    font-size: 4em;
    float: right;
    right: -18vw;
}
/*End Firs Page Style*/

/*Second Page Style*/
#second-page {
	position: absolute;
	border: transparent;
	height: 110vh;
	/*margin-top: 90vh;*/
	/*margin-bottom: 10vh;*/
}

#head-second {
	padding-top: 10vh;
	border: transparent;
    margin-left: 16vw;
    margin-right: 16vw;
}

#head-second h1{
	font-family: Roboto;
	color: rgb(48, 148, 188);
	text-align: center;
	text-transform: uppercase;
	font-size: 2vw;
}

#head-second hr {
	width: 3vw;
	border-bottom: 1px solid rgb(171, 152, 122);
}

#head-second p {
	font-size: 1.3vw;
	text-align: center;
}

.art {
	border: transparent;
	margin-top: 2vh;
    margin-left: 2vw;
    margin-bottom: 11vh;
}

#artefacts {
	border: transparent;
	margin-top: 8vh;
    margin-left: -2vw;
    margin-right: 16vw;
}

#artefacts .text {
	border: transparent;
	margin-left: 32vw;
}

#artefacts h2{
	font-size: 1.7vw;
	text-transform: uppercase;
	color: rgb(48, 148, 188);
}

#artefacts p {
	font-size: 1.2vw;
}

#artefacts .container {
	position: relative;
}

#artefacts .icon {
	margin-top: 10vh;
	margin-left: 16vw;
}

#artefacts .icon img {
	width: 10vw;
}

#artefacts .icon-artef {
	position: absolute;
	padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 2vw;
    padding-bottom: 2vh;
}

#artefacts #bracelet {
    padding-top: 3.5vw;
}

#artefacts #interface {
    padding-top: 3.5vw;
}

#artefacts .icon-background {
	position: absolute;
	border: transparent;
    z-index: -1;
}
/*End Second Page Style*/

/*Third Page Style*/
#third-page {
	position: absolute;
	border: transparent;
	height: 90vh;
	margin-top: 120vh;
	background-color: rgb(48, 148, 188);
}

#second-text {
	padding-left: 39vw;
	padding-top: 10vh;
}

#second-text h3 {
	/*font-weight: 400;*/
	text-align: left;
	font-weight: bold;
	font-size: 4.5vw;
	position: relative;
	margin: 0;
	z-index: 40;
}

#second-text h2 {
	text-align: left;
	font-weight: 100;
	font-size: 4.5vw;	
	position: relative;
	margin: 0;
	z-index: 40;
}
/*End Third Page Style*/




