#team img {
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#team img:hover {
	filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(0.7); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}

#team .text {
	text-align: center;
}

.team-img {
	text-align: center;
    padding: 2vw;
}

#team .row {
    padding: 5vw;
}

@media (min-width: 992px) {
    #team img {
    	width: 150px;
    	height: 150px;
	}
}

@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    #team .col-sm-offset-4 {
    	margin-left: 37%;
	}
}
